<!DOCTYPE html>
<html lang="en">

<head>
{{>links}}
</head>

<body>
 
  <!-- main-header -->
  <div class="container-fluid main_header">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
        <!-- left side div -->
        <div class="col-md-10 col-12 main_header_left align-items-center">
            <figure>
                <img src="images/404error.png" alt="Pratap" class="img-fluid" title="ray pratap">
            </figure>
             
            <p>Welcome to Portfolio</p>
            <h1>{{errorMsg}}</h1>
            <a href="/" target="_ray"><button>Go Back</button></a>
          </div>
        
        </div>
      </div>
    </div>
  </div>
  <!-- footer code -->

</body>

</html>