 <div class="container-fluid main_menu" id="about">
    <div class="row">
      <div class="col-md-10 col-10 mx-auto">
        <section class="about-header">
          <!-- left side div -->
          <div class="about_header_right"  >
            <figure>
              <img src="images/MyPortfolio-img2.jpg" alt="Pratap" class="img-fluid" id="about-img" title="ray pratap">
            </figure>
          </div>
          <!-- right side div -->
          <div class="about_header_left ">
            <h1 id="About-head">About Me</h1>
            <h2 id="developer">Mern Stack Developer <span id="designer"> & Designer</span></h2>
            <h1 class="About-para">I'm a <b> Mern Stack Developer, Freelancer and a Youtuber.</b> Currently I am doing
              BCA <i>From <b> Dr. Shyama Prashad Mukherji University, Ranchi.</b></i> I design and developed beautifull
              and responsive website that are fully responsive across all the devices. My thought is to exploring and
              learning much of things about <b>Technology.</b>
            </h1>
            <div class="btn-lets-talk">
              <a href="https://Instagram.com/pratapray530" target="_ray"><button>Lets Talk</button></a>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>