  <div class="container-fluid main_menu" >
    <div class="row">
      <div class="col-md-10 col-10 mx-auto contact-container"id="contactme" >
        <h1 id="contact-head">Connect,To <br>Pratap Ray</h1>
        <p class="contact-para">I'm available for collaboration. if you have any queries or want to work together then Send the message with brief idea about your project or you can email me on <b>pratapray498@gmail.com</b></p>
        <div class="my-contact">
           <h1><b>Get In Touch</b></h1>
            <div class="main-content-social-link">
                <a href="https://www.linkedin.com/in/pratap-ray-078995215" class="social-link " ><img src="images/linkedin-main.png" alt=""></a><a href="https://Instagram.com/pratapray530" class="social-link"><img src="images/instagram-main.png" alt=""></a><a href="https://youtube.com/channel/UCc9mRp9fN_S5cUai9yTewKQ" class="social-link"><img src="images/youtube-main.png" alt=""></a>
                <a href="https://Instagram.com/pratapray530" class="social-link "  ><img src="images/telegram-main.png" alt=""></a>
              </div>
        </div>
      </div>
    </div>    
  </div>