  <div class="container-fluid main_menu">
    <div class="row">
      <div class="col-md-10 col-10 mx-auto">
        <footer class="footer">
          <div class="footer-content-1"><b>Pratap Ray<span> Portfolio</span></b></div>
          <div class="footer-content-2">
            <a href="https://www.linkedin.com/in/pratap-ray-078995215"><img src="images/linkedin-main.png" alt=""></a><a href="https://Instagram.com/pratapray530"><img src="images/instagram-main.png" alt=""></a><a href="https://youtube.com/channel/UCc9mRp9fN_S5cUai9yTewKQ"><img src="images/youtube-main.png" alt=""></a>
            <a href="https://Instagram.com/pratapray530"><img src="images/telegram-main.png" alt=""></a>
          </div>
          <div class="footer-content-3">
            <h3>©-Pratap Ray | All Rights Reserved</h3>
            <h2>Designed & Developed By Pratap Ray</h2>
          </div>
        </footer>
       </div>
      </div>
     </div>   
