<div class="container-fluid main_menu" >
    <div class="row">
      <div class="col-md-10 col-12 mx-auto" >
        <section class="main-header">
          <!-- right side div -->
          <div class="col-md-6 col-12 main_header_left align-item-center">
            <p>Hello, I'm</p>
            <h1 class="head-name">Pratap Ray</h1>
            <h1>I Am A <span class="text-clr" id="typing-text">Youtuber</span></h1>
            <div class="btn-cv-about">
              <a href="https://drive.google.com/file/d/15GdLUH8N70oHGIuB2gFn4RUtKvFCQq7D/view?usp=drivesdk " target="_ray"><button>Download cv</button></a>
              <div class="main-content-social-link">
                <a href="https://www.linkedin.com/in/pratap-ray-078995215" class="social-link" ><img src="images/linkedin-main.png" alt=""></a><a href="https://Instagram.com/pratapray530" class="social-link" ><img src="images/instagram-main.png" alt=""></a><a href="https://youtube.com/channel/UCc9mRp9fN_S5cUai9yTewKQ" class="social-link"><img src="images/youtube-main.png" alt=""></a>
                <a href="https://Instagram.com/pratapray530" class="social-link" ><img src="images/telegram-main.png" alt=""></a>
              </div>

            </div>
            

          </div>

          <!-- left side div -->
          <div class="col-md-6 col-12 main_header_right">
            <figure>
              <img src="images/MyPortfolio-img.jpg" alt="Pratap" class="img-fluid" title="ray pratap">
            </figure>
          </div>
        </section>
       
      </div>
    </div>
  </div>