 <div class="container-fluid main_menu" id="work">
    <div class="row">
      <div class="col-md-10 col-10 mx-auto work-container" >
        <div id="My-Recent-Work">My Recent Work</div>
        <div class="work-items">
        <div class="work-items-container">
          <figure>
          <img src="images/workimg-2.png" alt="" class="project-img">
        </figure>
        <h1 class="mywork-content-head">Weather Website</h1>
        <div class="btn-content-head"><span class="project-btn-2">UI/UX</span><span class="project-btn-2">Development</span><span class="project-btn-2">API</span></div>
       
         <p class="work-para">Weather Website is the concept to providing the climate condition for any location in the World. I have done this website by using Weather API .This Weather website is a created from scratch and fully responsive</p>
        <a href="https://weatherapp-by-pratap.herokuapp.com"><button class="btn-project">See Project</button></a>
        </div>

        <div class="work-items-container">
          <figure>
          <img src="images/workimg-1.png" alt="" class="project-img">
        </figure>
        <h1 class="mywork-content-head">Portfolio Website</h1>
        <div class="btn-content-head"><span class="project-btn-2">Portfolio</span><span class="project-btn-2">Development</span><span class="project-btn-2">UI/UX</span></div>
        
         <p class="work-para">This Portfolio Website is to give brief information about MyWork and MySkill.I made this website from scratch and developed it fully functional website in which i used html, css ,  javascript , node.js and express.js .</p>
        <a href=""><button class="btn-project">See Project</button></a>
        </div>

        <div class="work-items-container">
          <figure>
          <img src="images/workimg-3.png" alt="" class="project-img">
        </figure>
        <h1 class="mywork-content-head">Youtube</h1>
        <div class="btn-content-head"><span class="project-btn-2">Ray Pratap</span><span class="project-btn-2">Youtube</span><span class="project-btn-2">Creator</span></div>
        
         <p class="work-para">YouTube is important part of my life.It give me great exposure to learn much of things about tech,web and many more, So i am also decided to make videos to enhance my knowledge by developing so many content.</p>
        <a href="https://youtube.com/channel/UCc9mRp9fN_S5cUai9yTewKQ"><button class="btn-project">Go To Channel</button></a>
        </div>

      </div>
      </div>
    </div>    
  </div>