 <div class="container-fluid main_menu"  id="services">
    <div class="row">
      <div class="col-md-10 col-10 mx-auto services-container">
        <h1 id="services-top-head"> My Awesome Services</h1>

        <section class="services-header">


          <!-- right side div -->

          <div class="services-items"><img src="images/services-logo-4.png" class="services-logo">
            <h1 class="services-item-head"><b> DEVELOPMENT</b></h1>
            <p class="services-items-para">A full stack web development is a process where I can develop both client and server software.In addition to mastering HTML and CSS, I also Knows how to:Program a browser(like using javascript, jquery, Angular , or Vue). </p>
          </div>
          <div class="services-items"><img src="images/services-logo-1.png" class="services-logo">
            <h1 class="services-item-head"><b>VISUALS</b></h1>
            <p class="services-items-para">When I made cards and portfolio from photoshop and canva then I understand how visuals works fully. it also give me chance to understand how i make various forms of creative entertainment like films, video games. </p>
          </div>
          <div class="services-items"><img src="images/services-logo-3.png" class="services-logo">
            <h1 class="services-item-head"><b>UI/UX</b></h1>
            <p class="services-items-para">In website development process i am also learn UI/UX design for frontend, because it provide user beauty and friendly interfaces that enable users to understand, such as usability and the user experience.</p>
          </div>
          <div class="services-items"><img src="images/services-logo-2.png" class="services-logo">
            <h1 class="services-item-head"><b>SEO</b></h1>
            <p class="services-items-para">After designing and development of website SEO take a great roll. In deployment a website it provide a great specialize in optimizing search engine discovery and rankings.
              So i made a great SEO for your website by this you can make money .
            </p>
          </div>

          <!-- left side div -->

        </section>
      </div>
    </div>
  </div>