@import url('https://fonts.googleapis.com/css2?family=Piazzolla:opsz,wght@8..30,100;8..30,400;8..30,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Piazzolla:opsz,wght@8..30,100;8..30,400;8..30,900&family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,1000;1,500;1,1000&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Piazzolla', serif;
    
}:root{
    --main-bg:#1e272e;
    --main-color:#0097e6;
 }
html,body{
    /* width: 100%;
    height: 100%;
    margin: 0;
     padding: 0; */
    overflow-x: hidden;
    background: linear-gradient(to right top,#65dfc9,#6cdbeb);
    scroll-behavior: smooth;
   
}

.navbar-card{
    position: relative;
    top: 23px;
    color: #fff;
    /* border: 1px solid rgba(255,255,255,0.7); */
    background:  linear-gradient(to right bottom,rgba(255,255,255,0.7),rgba(255,255,255,0.3));
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.05);
    backdrop-filter: blur(5px);
 

}
.navbar .navbar-brand {
    font-size: 1.7rem;
   
}
.navbar .navbar-brand #Portfolio{
    font-size: 1.4rem;
    padding-left: 9px;
    opacity: 0.5;
}
/* menu header style */

.main-header{
    background: white;
    min-height: 30vh;
    position: relative;
    top: 40px;
   
    background: linear-gradient(to right bottom,rgba(255,255,255,0.7),rgba(255,255,255,0.3));
    border-radius: 16px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.main_header_left{
    height: 30rem;
    display: flex;
    margin-left:95px ;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.main_header_left p{
    font-size: 1rem;
}
.main_header_left .head-name{
    font-size: 3rem;
    margin-bottom: 0%;
}
.main_header_left h1{
    font-size: 1.5rem;
    margin: 0.2rem 0 2rem 0;
    text-transform: capitalize;
}
.main_header_left .text-clr{
    color: var(--main-color);
    /* margin-top: 0.9rem; */
    margin-left: 0.2rem;
    font-size: 2rem;
}
.main_header_left button{
    border: none;
    padding: 0.6rem 1.8rem;
    margin: 2px 4px;
    font-size: 0.8rem;
    border-radius: 2rem;
    text-transform: uppercase;
    box-shadow: 0 8px 6px -6px #000;
    outline: none;
}
.main_header_left .btn-cv-about{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.main_header_left button:hover{
    box-shadow: 0 8px 6px -6px var(--main-color);
}
.main_header_right{
    height: 30rem;
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main_header_right figure img{
    border-radius: 50%;
    height: 260px;
    width: 260px;
    border: 6px solid rgb(248, 244, 244);
}
.main-content-social-link{
text-align: center;
margin-top: 23px;
}
.main-content-social-link img{
    height: 26px;
    width: 30px;
    /* padding: 4px px; */
    padding-bottom: 6px;
   
    
    
 }
 .main-content-social-link  .social-link{
    background: linear-gradient(to right bottom,rgba(126, 120, 120, 0.2),rgba(255,255,255,0.2));
    padding: 4px 4px;
    
    margin: 4px 4px;
    border: 1px solid rgba(182, 177, 177, 0.2) ;
    border-radius: 8px;
   box-shadow: 1px 0.2px 7px rgba(17, 16, 16, 0.1);
   background-color: bl;
   

 }
 .main-content-social-link  .social-link:hover{
 background-color: var(--main-color);
 padding:8px;
 }
 

@media (max-width:1000px){
    .main-header{
        display: flex;
        padding: 12px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    .main_header_left{
        flex-direction: column;
        align-items: center;
        margin-left: 0px;
    }
    .main_header_right{
        order: -1;
    }
    .main_header_right figure img{
        height: 250px;
        width: 250px;
    }
    .main_header_left .btn-cv-about{
        flex-direction: column;
        align-items: center;
        margin-top: 12px;
        
    }
    .main_header_left .btn-cv-about a button{
        margin: 2px ;
        margin-top: 0px;
    }
    .main_header_left h1{
        font-size: 1rem;
        margin-bottom: 10px;
    }
    .main_header_left .text-clr{
        font-size:1.5rem ;
    }
    .main_header_left p{
        margin-bottom: 0%;
    }


}
/* About section */
.about-header{
    display: flex;
    justify-content: center;
    position: relative;
    top: 75px;
}
#About-head{
    font-family:'Mulish', sans-serif ;
    font-size: 3rem;
    padding-bottom: 0px;
    color: rgb(39, 1, 75);
}
.about_header_left{
    height: 22rem;
    width: 30rem;
    /* position: relative;
    top: 108px; */
    font-size: 3rem;
    z-index: 222;
    background: linear-gradient(to right bottom,rgba(255,255,255,0.7),rgba(255,255,255,0.3));
    border-radius: 12px;
    padding: 12px 12px;
    border: 1px solid rgba(255,255,255,0.1);
   transform: translate(-80px,50px);
}
 .about_header_left .About-para{
 
 font-size: 1.1rem;
 margin-bottom: 0px;
} 
.about_header_left #developer{
    font-size: 1.5rem;
    color: green;
    font: bolder;
} 
.about_header_left #designer{
    font-size: 1.6rem;
    color: red;
    font: bolder;
   
}

   
.about_header_right  #about-img{
    
    height: 410px;
    width: 400px;
    border: none;
    object-fit: cover;
    z-index: 111;
    
    border-radius: 10px;
}
.about_header_left button{
    border: none;
    padding: 0.6rem 1.8rem;
    margin: 2px 4px;
    font-size: 0.8rem;
    border-radius: 2rem;
    text-transform: uppercase;
    box-shadow: 0 8px 6px -6px #000;
    outline: none;
}
.about_header_left .btn-lets-talk{
  display: flex;
}
.about_header_left button:hover{
    box-shadow: 0 8px 6px -6px var(--main-color);
    background-color: rgb(52, 70, 27);
    color: white;
}
@media (max-width:900px){
    .about-header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }
    .about_header_left{
        transform: none;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about_header_left .About-para{
        font-size: 0.8rem;
    }
    .about_header_right  #about-img{
        height: 270px;
    }
}
@media (max-width:900px){
    .about_header_left {
        height: auto;
    }
    .about_header_left #About-head{
        font-size: 2rem;
    } .about_header_left .About-para{
        font-size: 0.6rem;
    }
    .about_header_left #developer{
        font-size: 1rem;
    }
    .about_header_left #designer{
        font-size: 1rem;
    }
}
/* My services design*/
.services-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#services-top-head{
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 2rem;
    font-size: 4rem;
    font-family: ubuntu,sans-serif;
    text-shadow: 2px 2px 8px rgb(250, 250, 250);
}
.services-header{
    display: flex;
   flex-direction: column;
    margin: 0 2rem 0 2rem;
    
}

.services-logo{
    height: 100px ;
    width: 100px;
}
.services-items{
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 10px;
    background: linear-gradient(to right bottom,rgba(255,255,255,0.7),rgba(255,255,255,0.3));
    padding: 12px 32px;
    margin: 12px 8px;
    
}
@media (min-width:768px){
    .services-items{
        width: auto;
    }
    
}
/* My-skills design */
.skills-container{
    height: 33rem;
   
    display: flex;
   
    justify-content: center;
    align-items: flex-start;
    background: linear-gradient(to right bottom,rgba(255,255,255,0.7),rgba(255,255,255,0.3));
 padding: 1rem 0 2.5rem 0;
 border: 1px solid  rgba(255,255,255,0.3);
 border-radius: 10px;
 margin-top: 18px;
}
.skills-profile{
    width: 90%;
    height: 100%;
  padding: 12px 12px;
}
#myskills{
    font-size: 3rem;
    font-family: ubantu, sans-serif;
    word-spacing: 8px;
    
    padding-bottom: 12px
}

.skills-item .item-text{
display: flex;

justify-content: flex-start;
    font-weight: 600;
    font-size: 1.1rem;
    position: relative;
}
 .skills-item .item-text span:last-child{
    position: absolute;
}
.skills-item .item-text .w-90{
    margin-left: 90%;
}
.skills-item .item-text .w-80{
    margin-left: 80%;
}

.skills-item .item-text .w-75{
    margin-left: 75%;
}

.skills-item .item-text .w-70{
    margin-left:70%;
}

.skills-item .item-text .w-85{
    margin-left: 85%;
}
.skills-item .item-text .w-70{
    margin-left: 70%;
}
.skills-item .item-text .w-65{
    margin-left: 65%;
}
.progress{
    margin: 0.4rem 0;
    border-radius: 10px;
    height: 16px;
    width: 100%;
    background-color: var(--main-bg);
    overflow: hidden;
}
.progress-bar{
    background: var(--main-color);
    height: 100%;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.progress-bar.w-90{
width: 90%;
}
.progress-bar.w-80{
    width: 80%;
   
    }
.progress-bar.w-75{
        width: 75%;
      
}
.progress-bar.w-70{
    width: 70%;
    
}
.progress-bar.w-85{
    width: 85%;
   
}
.progress-bar.w-70{
    width: 70%;
    
}
.progress-bar.w-65{
    width: 65%;
}
/* My work container design */
.work-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 8rem 0;
    margin-bottom: -87px;
}
.work-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.work-items .work-items-container{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255,255,255,0.7);
    background: linear-gradient(to right bottom,rgba(255,255,255,0.7),rgba(255,255,255,0.3));
    padding: 12px 12px;
    margin: 12px;
    border-radius: 10px;
}
 #My-Recent-Work{
     text-align: center;
    font-size: 4rem;
    font-family: ubuntu,sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 8px rgb(250, 250, 250);
}
.work-items .project-img{
    height: 100px;
    width: 200px;
}
.project-btn-2{
    padding: 4px 6px;
    margin:  2px 14px;
opacity: 0.7;
    font-size: 12px;
    border-radius: 14px;
    background: linear-gradient(to right bottom,rgba(255,255,255,0.9),rgba(255,255,255,0.3));
    border: 1px solid rgba(255,255,255,0.3);

}
.work-items-container .work-para{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 8px;
}

.work-items-container .btn-project{
    border: none;
    padding: 0.6rem 1.8rem;
    margin: 2px 4px;
    font-size: 0.8rem;
    border-radius: 2rem;
    text-transform: uppercase;
    border: 1px solid rgba(255,255,255,0.3);

    /* box-shadow: 0 8px 6px -6px #000; */
    outline: none;
}
.work-items-container .btn-project:hover{
    background-color: black;
    color: white;
}
.work-items-container .mywork-content-head{
    font-size: 2rem;
    
}
/* contact form */
.contact-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}
#contact-head{
    font-size: 3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.contact-container .contact-para{
    font-family: 'Mulish', sans-serif;
    font-size: 1.3rem;
    opacity: 0.8;
}
.my-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}
.my-contact .contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 12px;
}

/* footer */
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 12px 12px;
   
}
.footer-content-1 {
    color: white;
    padding: 4px 12px;
    font-size: 1.2rem;
    
}
.footer-content-1 b{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-size: 1.7rem;
    
}
.footer-content-1 span{
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    opacity: 0.7;
}
.footer-content-2 img{
   height: 26px;
   width: 30px;
   padding: 4px 4px;
}
.footer-content-3 h3{
    text-align: center;
    font-size: 1rem;
    color: white;
}
.footer-content-3 h2{
    font-size: 1.4rem;
    text-align: center;
    color: rgb(112, 103, 103);
}

@media (max-width:1098px){
    .my-contact .contact-form input{
        padding-left: 4.5rem;
        padding-right: 4.5rem;
    }
    .my-contact .contact-form #submit{
        padding-left: 8rem;
        padding-right: 8rem;
    }
    
}
@media (max-width:600px){
    #My-Recent-Work{
        font-size: 3rem;
    }
    #services-top-head{
        font-size: 3rem;
    }
#myskills{
      font-size: 2.3rem;
}
.services-item-head b{
    font-size: 1.5rem;
}
}
@media (max-width:390px){
    /* footer */
    .footer-content-1 b{
        font-size: 1.1rem;
    }
    .footer-content-1 span{
        font-size: 0.8rem;
    }
    .footer-content-3 h2{
        font-size: 1rem;
    }
   
   
    /* contact */
        .my-contact .contact-form input{
            padding-left: 3rem;
            padding-right: 3rem;
        }
        .my-contact .contact-form #submit{
            padding-left: 6.7rem;
            padding-right: 6.7rem;
        }   
        .my-contact h1 b{
            text-align: center;
            padding-left: 0px;
        }
        /* services */
        .services-logo{
            height: 50px ;
            width: 50px;
        }
        
        .services-items{
            width: 18rem;
        }

}